/*!
	Description: <%= pkg.description %>
	Author: <%= pkg.author %>
	Author URI: http://jhtechservices.com
    Version: <%= pkg.version %>
	Tags:

	Template: genesis
	Template Version: 2.3.1

	License: <%= pkg.license %>

*/

.aMap {
  width: 200px;
  height: 200px;
}